* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

header > .container > .navbar {
    color: yellow;
}

.menu {
    background-color: rgb(67, 0, 85);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.carousel > .carousel-inner > .carousel-item > .caousel-caption > h2 {
    color: yellow;
}

.noticias {
    margin-top: 30px;
    text-align: center;
    height: 700px;
}

.row {
    padding: 50px 50px;
}




